body{
  margin: 0;
  height: 725px;
  display:flex;
  flex-direction: column;
}

nav{
min-width: 10%;
width: 100%;
}

.een {
min-height: 30%;
width: 100%;
}

.twee {
min-height: 30%;
width: 100%;
}

.drie {
min-height: 30%;
width: 100%;
}
h1{
  color: white;
}





@media only screen and (min-width: 1024px) {
nav {
  background-color: red;
}
.een {
  background-color: yellow;
}
.twee {
  background-color: orange;
}
.drie {
  background-color: green;
}
}



@media only screen and (min-width: 768px) and (max-width: 1023px) {
  nav {
      display: flex; 
      justify-content: center;
      background-color: blueviolet;
  }
  .een{
      background-color: chartreuse;
  }
  .twee {
      background-color: darksalmon ;
  }
  .drie {
      background-color: darkorchid;
  }
  }

  @media only screen and (max-width: 767px) {
  nav {
      background-color: lightgreen;
      justify-content: center;
  }
  .een {
      background-color: darkmagenta;
      align-items: center;
  }
  .twee {
      background-color: deepskyblue;
      align-items: center;
  }
  .drie {
      background-color: fuchsia;
      align-items: center;
  }
  @media(min-width: 700px){
    #hamburger{
        display: none;
    }
}
  }

  
  